<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>nikhila</title>
        <link rel="stylesheet" href="/css/style.css">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body id="body">
        <nav class="navbar navbar-expand-sm  navbar-dark">

                <ul class="navbar-nav">

                        <%for(var i=0;i<nav.length;i++){%>
                                <li class="nav-item active">
                                        <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>

                                        <%}%>
                </ul>
        </nav>
        <div class="jumbotron jumbotron-fluid " id="div1">
                <div class="container row" id="div2">
                        <h1 class=" col-lg-8 col-sm-8" id="h1"> <b><%=title%></b></h1>
                        <div class="col-lg-4 col-sm-4 " id="div3">

                        </div>
                </div>
        </div>
        <div class="container" id="div4">
                <div class="  col-lg-6 container" id="img">

                        <img src="/image/<%=book.image%>" style="width: 40%; height: 40%;">

                        <h3>
                                <%=book.title%>
                        </h3>

                        <h4>
                                <%=book.genre%>
                        </h4>
                        <h5>
                                <%=book.author%>
                        </h5>

                </div>
        </div>

        </div>

</body>

</html>